*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-size: cover;
   
}
body, button, span.date_label, .timeline_items li h3 span, input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select, .offer_li .title h3 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
body {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    
}
body {
    min-width: 960px;
}
body, ul.timeline_items, .icon_box a .desc, .icon_box a:hover .desc, .feature_list ul li a, .list_item a, .list_item a:hover, .widget_recent_entries ul li a, .flat_box a, .flat_box a:hover, .story_box .desc, .content_slider.carouselul li a .title, .content_slider.flat.description ul li .desc, .content_slider.flat.description ul li a .desc, .post-nav.minimal a i {
    color: #626262;
}
body.mobile-side-slide {
    position: relative;
    overflow-x: visible;
}

@media only screen and (max-width: 767px) {
    body {
        min-width: 0;
    }
}

@media (max-width:766px) {

    .ques
        {
           display: none; 
        }
    
    
}


#nav
{
  background-color: #385874;
  display: flex;
  align-items: center;
  text-align: center;
justify-content: center;
  color: white;
  position: relative;
  width: 100%;
  line-height: 2.7rem;
  vertical-align: baseline;
  letter-spacing: 2px;
  
 
 
}
.icon
{
    padding-left: 1rem;
    padding-right: 0.5rem;
    color: rgb(197, 196, 196);
}
.ques
{
    color: rgb(197, 196, 196);
}
#nav a {
    color: white;
    text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
 /* padding: 10px 20px;*/
  background-color: white;
  position: relative;
  
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo img {
  height:200px;
  width: 100%;
  margin-top: 10px;

}


.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: #1d3c4e;
  font-weight: 500;
  position: relative;
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #1d3c4e;
  transition: 0.3s ease;
}

.navbar ul li a:hover::after,
.navbar ul li a:focus::after {
  width: 100%;
}

.hamburger {
  font-size: 28px;
  display: none;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

/* to make it responsive */

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    display: none;
  }

  .navbar ul {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
  }

  .hamburger {
    display: block;
  }

  #menu-toggle:checked + .hamburger + .navbar {
    display: block;
  }
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 10px;
  white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  gap: 20px;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: #00354e;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #ddd;
}

.main
{
  border-top: 2px dashed red;
  border-width: 100%;
}
.main img{
  width: 100%;
}
.form{

    padding: 30px 0px 0px 140px;
    background-color: #ab0309;
    color: white;

}
.info
{
  display: flex;

}
.info1
{
  display: flex;
 
}
.column-one
{
  width: 23%;
  margin-bottom: 10px !important; 
  
}
.column-one .name
{
  display: block;
}
.column-one input[type="date"], input[type="email"], input[type="text"], input[type="number"],input[type="date"], select, textarea, .dark input[type="email"], .dark input[type="text"], .dark textarea {
    color: #626262;
    background-color: rgba(255, 255, 255, 1);
    border-color: #EBEBEB;
    padding: 12px;
    border-radius: 15px;
    width: 80%;
}
.column-one button
{
   color: white;
    background-color:#385874;
  border: none;
    padding: 12px;
    border-radius: 15px;
    width: 80%;
    margin-top: 1.6rem;
}

@media (max-width:800px) {
  .info ,.info1
  {
    display: block;
  }
  .main img
  {
    width: 100%;
  }
}
.cars{
  background-color:#eeeeee;
  padding-bottom: 7rem;
}
.tour h4
{
  text-align: center;
 
  padding: 5rem 0 0; 
  color: #ab0309 ;
  font-size: 150%;
  font-weight: bolder;
}
.tour h1{

    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    text-align: center;
    margin-bottom: 15px;
font-family: "Poppins", Helvetica, Arial, sans-serif;
}
.tour p{
  text-align: center;
  align-items: center;

  font-size: 110%;
}

.about-cars 
{
  display: block;
  justify-content: space-between;
  text-align: center;
  align-items: center ;
 
}
.row1 
{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center ;
}
.row2
{
  display: flex;
  text-align: center;
  align-items: center ;
  margin-top: 2rem;
}
.car1
{
  display: block;
  background-color: #fff;
  border: white;
  margin-top: 0.5rem;
 height: 100%;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  
}
.car1:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.cars button{
 background-color: #ab0309;
 color:#fff; 
 border:none;
 width: 40%;
 border-radius: 7px;
padding-top: 8px ;
padding-bottom: 8px;
}
.cars button i{
  margin-right: 0.5rem;
}
.cars button:hover
{
  background: #000;
}
.car-title{
  font-weight: 600;
  font-size: 123%;
  padding-top: 4rem;
  color: #000;
}
.car-body p{
  color: #000;
}
.car1-img-top, .car2-img-top
{
  width: 100%;
 padding-top: 1rem;
}

.car2
{
  display: block;
   background-color: #fff;
  border: white;
  margin-top: 3rem;
  height: 100%;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;

}
.car2 h5{
  font-weight: 600;
  font-size: 123%;
  padding-top: 4rem;
}
.car2:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}
.welcome {
  background-image: url("./assests/jaipur.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hawaMahal
{
 display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
margin-top: -100px;

}
.nahargarh
{
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
margin-top: 1rem;

}
.welcome h1{
  color: #ab0309;
  word-spacing: 0%;
  font-size: 250%;
  font-weight: 600;
}
.welcome p{
  font-size: 115%;
  color: #000;
}
.welcome a{
  text-decoration: none;
  color: #385874;
}
.welcome a:hover
{
  text-decoration: underline;
}
.welcome h4{
  color:rgb(15, 160, 217);
}
.welcome button
{
  background-color: #ab0309;
  width: 50%;
  color:#fff;
  border: none;
  padding:8px 0px 8px ;
  border-radius: 8px;
}
.welcome button:hover
{
  background-color: #000;
}
.memory
{
 
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ffffff;
    background-image: url("./assests/footer_bg-1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.await 
{
 text-align: center;
 color:#fff;
}
.quality
{
  display: flex;
  margin-top: 2rem;
}
.royal
{
  text-align: center;
  padding-top: 5rem;
}
.company-name h5
{
 color: #ab0309;
 font-size: 130%;
 
}
.company-name h1{
  color: #000;
  font-size: 300%;
  font-weight: 600;
}
.company-name p{
  color: gray;
  font-size: 105%;
  font-weight: 500;
}
.service-box
{
  border: 1px solid black;
  height: 100%;
  border-radius: 9px;
  text-align: center;
  align-items: center;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  color: #000;
 
}

.service-box:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
}
.service-box h5
{
  margin-top: 1rem;
}

.jaipur-places img
{
  
 margin-top: 5rem;
    width: 100%;
}
.why
{
  
  margin-top: 6rem;
}
.h2 ,.p 
{
  text-align: center;
}
.why h2{
  color: #000;
  font-weight:bold;
}
.discover
{
  background-color:#385874;
  display: flex;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    align-items: center;
    color: #fff;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 2rem;
    border-radius: 20px;
    margin-top: 3rem;
  }
.discovering h2{
  color:#fff;
 
  margin-bottom: 1rem;
}
  .discover img {
    width: 95%;
    height: 100%;
    display: block;
    border-radius: 20px;

  }
.why p 
{
  font-size: 110%;
}
  @media (max-width: 768px) {
    .col-lg-6 {
      flex: 1 1 100%;
    }
    .row {
      gap: 15px;
    }
  }

  .why-us
  {
    margin-top: 3rem;
    background-color:#385874;
    color: #ddd;
    display: flex;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    align-items: center;
    color: #fff;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-left: 2rem;
    border-radius: 20px;
  }
  .why-us img {
    width: 95%;
    height: 100%;
    display: block;
    border-radius: 20px;

  }
  .why-us h2{
   color: #ddd;
  }
  .footer
  {
    background:#00354e;
    display: flex;
    margin-top: 5rem;
    color: #fff;
    padding-top: 4rem;
  }
  .footer img{
    width: 100%;
    height: 100%;
  }
  .links
  {
    display: block;
   
  }
  .links a{
    text-decoration: none;
    font-size: 115%;
     color:#fff ;
  }
  .links a:hover{
    text-decoration: underline;
    color:#385874;

  }

  /** Enquiry .html**/

  .enquiry-heading
  {
   
    background:#385874;
    text-align: center;
    padding: 2.5rem;
    color: #ddd;
  }

  .enquiry-form
  {
    background-color: #f2f1f1;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .getEnquiry
  {
    background:#fff;
    margin-top: 3rem;
    display: block;
    padding-bottom: 3rem;
    padding-top: 3rem;

  }
  .getEnquiry h4 ,h1{
    margin-left: 1rem;
  }
  .getEnquiry input
  {
    border: 1px solid rgb(128, 128, 128);
    margin-bottom: 2rem;
    border-radius: 0px;
    margin-left: 2rem;
  }
  .query
  {
    color: rgb(98, 98, 98,0.1);
    font-size: 90%;
  }
  .query-no
  {
    width: 80%;
    
    font-size: 90%;
    padding: 10px;
  }
  .query-text
  {
    width: 80%;
   
    font-size: 90%;
   margin-left: 2rem;
  }
  .btn{
    margin-left: 2rem;

  }
  .contacts
  {
       background-color: #FCFCFC;
  }
  .contact-heading
  {
   
    background:#385874;
    text-align: center;
    padding: 2.5rem;
    color: #ddd;
  }
  .section-heading {
      font-weight: 700;
      font-size: 2.5rem;
    }

    .subheading {
      font-size: 2rem;
      font-weight: 600;
      color: #1f2c5c;
    }

    .info-box {
      border-bottom: 2px dashed #1f2c5c;
      padding: 40px;
      background-color: white;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
      text-align: center;
    }

    .info-box i {
      font-size: 3rem;
      color: #2d4c7b;
    }

    .info-title {
      font-weight: bold;
      margin-top: 15px;
      font-size: 1.2rem;
    }

    .info-text {
      color: #333;
      margin-top: 10px;
    }

    .highlight {
      font-weight: bold;
      color: #1d3557;
    }
    .form-container {
      background: #fff;
      padding: 40px;
      border-bottom: 2px dashed #1f2c5c;
      border-radius: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
      max-width: 900px;
      margin: auto;
      margin-top: 50px;
    }

    .form-container h2 {
      font-weight: 700;
      margin-bottom: 30px;
    }

    .form-control {
      border-radius: 0;
      box-shadow: none;
    }

    .btn-danger {
      border-radius: 10px;
      padding: 10px 25px;
    }

    .question-label {
      font-weight: 600;
      color: #444;
    }

  